@use "sass:math";
@import 'functions';

@mixin calculateResponsiveProperty($startBreakPoint, $endBreakPoint, $startValue, $finishValue, $property ){
	@media (min-width: $startBreakPoint){
		#{$property}: calculateResponsiveValue( $startBreakPoint, $endBreakPoint, $startValue, $finishValue );
		
	}
	@media (min-width: $endBreakPoint){
		#{$property}: $finishValue;
	}
}

:root{
	--font-family: 'Mont';
	--font-philosopher: 'Philosopher';
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
button, textarea, input{
	background: transparent;
	border: none;
	outline: none;
}

button{
	cursor: pointer;
}
textarea, input{
	width: 100%;
}
a, textarea, input, button{
	transition: ease-in 300ms;
	font-family: inherit;
	outline: none;
}
a, textarea, input, button{
	font-family: var(--font-family);
}

textarea{
	resize: none;
}

ul{
	list-style: none;
}

address{
	font-style: normal;
}

html{
	scroll-behavior: smooth;
	font-family: var(--font-family);
}
body{
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
	
}

body.no-scroll{
	overflow: hidden;
}
main{
	flex-grow: 1;
	max-width: 100%;
	overflow: hidden;

}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section{
	padding: 0px 24px;
    position: relative;
	z-index: 5;

    @include calculateResponsiveProperty(480px, 960px, 24px, 100px, padding-left);
    @include calculateResponsiveProperty(480px, 960px, 24px, 100px, padding-right);

    @include calculateResponsiveProperty(961px, 1279px, 100px, 140px, padding-left);
    @include calculateResponsiveProperty(961px, 1279px, 100px, 140px, padding-right);

    @include calculateResponsiveProperty(1280px, 1919px, 32px, 140px, padding-left);
    @include calculateResponsiveProperty(1280px, 1919px, 32px, 140px, padding-right);

    
}

.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}

h1{
	font-size: 26px;
    line-height: 1.2;
    font-weight: 400;
    font-family: var(--font-philosopher);
	color: #070707;
	text-transform: uppercase;
	margin-bottom: 40px;

	@include calculateResponsiveProperty(480px, 960px, 26px, 29px, font-size);
    @include calculateResponsiveProperty(961px, 2550px, 29px, 48px, font-size);
}


h2{
	font-family: var(--font-philosopher);
	font-weight: bold;
	font-size: 24px;
	color: #070707;
	text-transform: uppercase;
	margin-bottom: 40px;
	@media ( min-width: 1280px ){
		font-weight: 400;
	}

	@include calculateResponsiveProperty(1280px, 1920px, 24px, 34px, font-size);
}

h3{
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: 600;
	color: #070707;
	@include calculateResponsiveProperty(1280px, 1920px, 18px, 24px, font-size);
}


p{
	font-size: 18px;
	color: #070707;
	line-height: 1.3;
}

.to-top{
	width: 60px;
	height: 60px;
	
	background: linear-gradient(270deg, #e6c482 0%, #b07638 100%);

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%
}
.to-top-container{
    display: flex;
    
    display: flex;
    justify-content: center;

    padding: 32px 0 24px;
    background-color: #fff;

	@media (min-width: 1280px){
		padding: 0;
		max-width: max-content;
		position: fixed;
		background: transparent;
		bottom: 12px;
		right: 5vw;
		z-index: 50;
	}
}
.bottom-picture{
    display: flex;
    width: 100%;
    max-width: 1600px;
	margin: 0 auto;

	@include calculateResponsiveProperty(1280px, 1920px, 60px, 114px, padding-top);
    img{
        
        
        height: auto;
    }
}

.text-center{
	text-align: center;
}
html.stop-scroll{
	scroll-behavior: unset;
}
@import 'units/header';
@import 'units/mob-menu';
@import 'units/intro';
@import 'units/footer';
@import 'units/brand';
@import 'units/ui';
@import 'units/i-realty-cards';
@import 'units/partners';
@import 'units/about-investment';
@import 'units/about-sochi';
@import 'units/about-am';
@import 'units/form-section';
@import 'units/catalog';
@import 'units/single-realty';
@import 'units/blog';
@import 'units/breadcrumbs';
@import 'units/article-page';
@import 'units/modal';