.about-sochi{
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: rgb(245, 245, 245);

    @media (min-width: 768px){
        background-color: transparent;
        .container{
            background-color: rgb(245, 245, 245);
            padding: 32px 20px;
        }
    }

    
}

.about-sochi__content{
    background-color: #fff;
    padding: 32px 16px;

    p{
        margin-bottom: 40px;

        @media (min-width: 768px){
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            
        }

        @media (min-width: 1280px){
            padding-right: 5%;
        }
    }

    @media ( min-width: 768px ){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
    }

    @include calculateResponsiveProperty(960px, 1920px, 32px, 60px, padding-top);
}




.about-sochi__picture-container{
    margin-bottom: 44px;

    @media (min-width: 768px){
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin-bottom: 0;
    }
}
.about-sochi__picture{
    position: relative;
    aspect-ratio: 100 / 56.25;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    @media (min-width: 1280px){
        max-width: calc(100% - 80px);
    }
    

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 50%;
        top: 50%;
        
        
        &:nth-of-type(1){
            transform: translate(-50%, -50%) rotate(-8deg);
            z-index: 5;
        }
        &:nth-of-type(2){
            transform: translate(-50%, -50%) rotate(-2deg);
            opacity: 0.8;
            z-index: 3;
        }
        &:nth-of-type(3){
            transform: translate(-50%, -50%) rotate(4deg);
            opacity: 0.6;
            z-index: 1;
        }
    }
}

.about-sochi__title{
    font-size: 48px;
    text-align: center;
    font-family: 'Alaya Roza';
    color: #d5b57c;
    font-weight: 400;
    text-transform: none;

    margin-bottom: 16px;

    @media (min-width: 768px){
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        text-align: left;
        margin-bottom: 0;
    }
    @media (min-width: 1280px){
        text-align: center;
    }

    @include calculateResponsiveProperty(960px, 1920px, 48px, 56px, font-size);
}

.about-sochi__btn-container{
    text-align: center;

    @media (min-width: 768px){
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
}