.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{
        color: #fff;
    }
}
.brand__logo {
    width: 68px;
    img{
        height: auto;
    }
    @include calculateResponsiveProperty(961px, 2550px, 68px, 108px, width);
}
.brand__name {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 4px;

    @include calculateResponsiveProperty(480px, 960px, 21px, 25px, font-size);
}
.brand__description {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
    @include calculateResponsiveProperty(480px, 960px, 12px, 14px, font-size);
}