.gradient-btn{
    font-family: var(--font-philosopher);
    padding: 8px 32px;
    background: linear-gradient(135deg, #e2be84, #a97913, #cc8c4d);
    background-size: 200%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    
    @media (min-width: 980px){
        font-weight: 400;
    }


    &:hover{
        background-position: 100% 0;
    }
    @include calculateResponsiveProperty(961px, 2550px, 22px, 30px, font-size);
}

.gold-outline-btn{
    font-family: var(--font-philosopher);
    padding: 8px 32px;
    border: 2px solid #ce9054;
    font-size: 22px;
    font-weight: bold;
    color: #ce9054;
    display: inline-block;
    position: relative;


    @media (min-width: 980px){
        font-weight: 400;
    }


    &::before{
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        background: linear-gradient(135deg, #e2be84, #a97913, #cc8c4d);
        background-size: 200%;
        opacity: 0;
        transition: 300ms ease;
    }
    
    
    &:hover{
        
        color: #fff;
        border-color: transparent;
        &::before{
            opacity: 1;
            background-position: 100% 0;
        }
    }




    @include calculateResponsiveProperty(961px, 2550px, 22px, 30px, font-size);
}
.blue-outline-btn{
    color: #7ba5ba;

    font-family: var(--font-philosopher);
    padding: 8px 28px;
    border: 2px solid #7ba5ba;
    font-size: 22px;
    font-weight: 400;
    color: #7ba5ba;
    display: inline-block;
    position: relative;

    
    @media (min-width: 1280px){
        padding: 7px 16px;
    }
    
    &:hover{
        background-color: #7ba5ba;
        color: #fff;
        border-color: transparent;
        
    }




    @include calculateResponsiveProperty(961px, 2550px, 22px, 27px, font-size);
}
